* {
  box-sizing: border-box;
  
}
:root {
  /* declare a variable with `--` syntax */
  --background: #333940;
  --glowpink: #e867ed;
  --bordercolor: #e0eae5;
  --white: #fff;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-color: var(--background);
}

header {
  margin: 20px 10px 20px 10px;
  text-align: center;
  color: var(--white);
  font-size: small;
}

header h1 {
  color: var(--glowpink);
  font-size: xx-large;
  margin-bottom: 20px;
}

header p {
  margin: 0px 40px 0px 40px;
}
main {
  display: flex;
}


footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--background);
  color: var(--Glowpink);
  margin-top: auto;
}

.content {
  display:grid;
  width: 100%;
  gap: 10px 2px;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;

}


.card {
  width: 300px;
  border-style: dashed;
  border-width: 2px;
  border-color: var(--bordercolor);
  padding: 10px;
  flex: 0 0 250px;
  margin-bottom: 20px;
}

.card-height-1{
  height: 200px;
}

.card-height-2{
  height: 300px;
}


.card header {
  position: relative;
  margin-top: -30px;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid var(--bordercolor);
  padding: .5px;
  z-index: 2;
  background-color: var(--background); 
}
 .card header h2 {
  justify-content: center;
  color: var(--glowpink);
  font-weight: bold;
  font-size: x-large;
  text-align: start;
  margin: 5px 0px 5px 5px;
 }
.card p {
  color: var(--glowpink);
  text-align: justify;
  margin: 1px 1px 2px 1px;
}

.card code {
  margin: 2px;
  padding: 1px;
  background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0% rgba(232, 102, 236, 0.6) 100%); 
  }
  text-align: justify;
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
.card code pre {
  color: var(--white);
}
footer{
  color:var(--glowpink);
}
footer span{
  color:red;
}

@media screen and (max-width: 768px) {
  
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 1em;
      grid-row-gap: 10px;
    }
    
  
}

@media screen and (max-width: 767px) {
  
  .content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 10px;
    justify-content: center;
    place-items: center;
  }
  

}
